.catalog {
  background-color: #1d1f1f;
  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__selects_container {
    width: 50%;
  }
  &_btn {
    width: fit-content;
    border: none;
    background-color: transparent;
    color: #e8920b;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    margin: 60px auto;
  }
  .films_slides {
    margin-bottom: 40px;
  }
}
