.home {
  background-color: #1d1f1f;
}

.user_btn {
  background-color: transparent;
  padding: 5px 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  //border-radius: 50%;

  &_icon {
    color: #E8920BFF;
    font-size: 60px;
  }
}
