.sign_up {
  background-color: rgb(28, 40, 39);
  &_container {
    width: 100%;
    max-width: 1122px;
    margin: 0 auto;
  }
  &_form {
    width: 100%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding: 40px;
    &_title {
      color: #fff;
      font-size: 42px;
      font-weight: 600;
      text-align: center;
    }
    &_fileds {
      color: #e8920b;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 24px;
    }
    &_photo_loader {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 300px;
      height: 180px;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 10px;
      border: 2px solid #135f55;
      background: #fff;
      color: #135f55;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 45px;
    }
    &_rows {
      display: flex;
      justify-content: space-between;
      &_name {
        width: calc(50% - 30px);
        display: flex;
        justify-content: space-between;
        &_container{
          width: calc(100% / 2 - 10px);
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;
          & > input {
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
     &_inp_container{
       width: calc(100% / 2 - 30px);
       display: flex;
       flex-direction: column;
       margin-bottom: 25px;
      }

      &_inp {
        width: 100%;
        height: fit-content;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid #135f55;
        background: #fff;
        color: #135f55;
        font-weight: 600;
        outline: none;
        margin-bottom: 5px;
        &::placeholder {
          color: #135f55;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    &_btn {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      background-color: #e8920b;
      margin-bottom: 70px;
      margin-top: 20px;
        &:hover {
          color: #fff !important;
          background-color: #c67e11 !important;
        }
      &:disabled{
        background-color: #ccc;
      }
    }
    .sign_up_form_cart_data {
      color: #fff;
      display: flex;
      justify-content: space-between;
    }
  }
}
