.hall__desc {
  height: fit-content;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 20px;
  &_user_seat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &_circle {
      background-color: #b8aeae;
      margin-bottom: 5px;

      &_text {
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  &_available_seat_circle {
    background-color: rgb(18, 95, 85);
  }
  &_booked_seat_circle {
    background-color: rgb(137, 52, 52);
  }
}
