.movies_list {
  color: #fff;
  width: 80%;

  &_users {
    padding: 18px;

    &_title {
      color: #FFF;
      font-size: 24px;
      font-weight: 600;
    }

    &_count {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  &_add_movie {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 36px;
    margin: 10px 0 30px auto;
  }
}