@import "../abstracts/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  color: #000000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.mr-30 {
  margin-right: 30px;
}
button {
  cursor: pointer;
}
.orange__line {
  width: 100%;
  height: 1px;
  margin-bottom: 45px;
  background: #e8920b;
}
.mb-30 {
  margin-bottom: 30px;
}
.p-30 {
  padding: 30px;
}
.btn_orange {
  background: #e8920b;
  &:hover {
    background-color: #c67e11;
  }
}
.active_circle {
  background-color: #e8920b;
  border: none;
}
.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.bg-white {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: $dark;
  font-size: 28px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 25px;
  margin-bottom: 20px;
  justify-content: center;
}
.black_line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin: 5px 0;
}
.pr-20 {
  padding-right: 20px;
}
.bcb {
  background-color: #000;
}
.more_btn{
  background-color: transparent;
  border: none;
  color: #e8920b;
  font-size: 24px;
  font-weight: 700;
  width: fit-content;
  display: flex;
  margin: 20px auto;
}
